$dtContMargin: 145px;
$midContMargin: 70px;
$mobileContMargin: 30px;
$background: #f1f1f1;

$goldenDark: rgb(165, 114, 83);
$golden: rgba(189, 138, 93, 1);
$golden60: rgba(189, 138, 93, 0.6);
$golden50: rgba(189, 138, 93, 0.5);
$golden25: rgba(189, 138, 93, 0.25);

$grey: #8e8e8e;
$greyLight: #c7c7c7;

$white: rgba(255, 255, 255, 1);
$white50: rgba(255, 255, 255, 0.5);
$white80: rgba(255, 255, 255, 0.8);

$black: rgba(50, 50, 50, 1);
$black30: rgba(50, 50, 50, 0.3);

$brMobile: 767px;
$brOverMobile: 768px;
$brSmall: 1024px;
$brOverSmall: 1025px;
$brMid: 1600px;
